# Forge Inspector BS
inspector/ios-inspector/ForgeInspector.xcodeproj/xcuserdata/alexhorak.xcuserdatad/xcdebugger/*
inspector/ios-inspector/ForgeInspector.xcodeproj/project.xcworkspace/xcuserdata/alexhorak.xcuserdatad/UserInterfaceState.xcuserstate
